<div class="loader" ng-if="!vm.dataLoaded"></div>

<div class="contact-wrapper" ng-if="vm.dataLoaded">
    <div class="contact">
        <image class="image" ng-src="{{vm.Contact.picture.large}}"></image>
        <div class="info">
            <h1 class="name" ng-bind="vm.Contact.FullName"></h3>
            <div class="location icon"><i class="fas fa-map-marker-alt"></i>
                <div class="location-info">
                    <div>{{vm.Contact.location.street}}</div>
                    <div>{{vm.Contact.location.city}}</div>
                    <div>{{vm.Contact.location.state}}</div>
                    <div>{{vm.Contact.location.postcode}}</div>
            </div>
            </div>
            <a class="email icon" ng-href="mailto:{{vm.Contact.email}}"><i class="fas fa-at"></i>
                <span ng-bind="vm.Contact.email"></span>
            </a>
            <a class="phone icon" ng-href="tel:{{vm.Contact.phone}}"><i class="fas fa-phone"> </i>
                <span ng-bind="vm.Contact.phone"></span>
            </a>
            <a class="cell icon" ng-href="tel:{{vm.Contact.cell}}"><i class="fas fa-mobile-alt"></i>
                <span ng-bind="vm.Contact.cell"></span>
            </a>
        </div>
    </div>
    <a class="button-back" href="#!"> Back </a>
</div>