<div class="loader" ng-if="!vm.dataLoaded"></div>

<div class="contact-list-wrapper" ng-if="vm.dataLoaded">
    <div class="search-bar">
        <input class="search-input" type="text" placeholder="Search" aria-label="Search" ng-model="vm.searchText">
        <i class="fas fa-search" aria-hidden="true"></i>
        <i class="fa fa-bars" aria-hidden="true" ng-click="vm.filterExpanded = !vm.filterExpanded" style="position:relative;">
                <div class="filter-wrapper" ng-if="vm.filterExpanded">
                        <div class="filter-item" ng-repeat="filter in vm.filters" ng-click="vm.Ordering = filter.Ordering;"> {{filter.Name}}</div>
                    </div>
        </i>

    </div>
    <div class="contact" ng-repeat="con in filtered = (vm.Contacts | orderBy:vm.Ordering | filter:{FullName : vm.searchText}) | 
    pagination: vm.currPage * vm.pageSize | limitTo: vm.pageSize " ng-href="#!contact/{{con.email}}" ng-click="vm.NavigateToContact(con.email);">
        <image class="image" ng-src="{{con.picture.large}}"></image>
        <span class="info">
            <h3 class="name" ng-bind="con.FullName"></h3>
            <a class="location icon"><i class="fas fa-map-marker-alt"></i></a>
            <a class="email icon" ng-href="mailto:{{con.email}}" ng-click="$event.stopPropagation();"><i class="fas fa-at"></i></a>
            <a class="phone icon" ng-href="tel:{{con.phone}}" ng-click="$event.stopPropagation();"><i class="fas fa-phone"></i></a>
            <a class="cell icon" ng-href="tel:{{con.cell}}" ng-click="$event.stopPropagation();"><i class="fas fa-mobile-alt"></i></a>
        </span>
    </div>
    
    <div class="paging" ng-if="filtered.length">
        <div class="button-paging" ng-if="vm.currPage > 0" ng-click="vm.currPage=vm.currPage-1">PREV</div>
        <span class="current-page">Page {{vm.currPage + 1}} of {{vm.GetTotalPages(filtered.length)}}</span>
        <div class="button-paging" ng-if="vm.currPage < (filtered.length/vm.pageSize - 1)" ng-click="vm.currPage = vm.currPage+1">NEXT </div>
    </div>
    
    <div class="no-results" ng-if="!filtered.length">No contacts found.</div>
</div>