.loader{
    display: inline-block;
    width: 128px;
    height: 128px;

    position: absolute;;
    top:0px; bottom:0px; left:0px; right:0px;
    margin: auto;
}
.loader:after {
    content: " ";
    display: block;
    width: 92px;
    height: 92px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: black transparent black transparent;
    animation: loader 1.2s linear infinite;
}
@keyframes loader {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.button-back,
.button-paging{
    display: inline-block;
    text-align: center;
    /* border: solid 2px black; */
    /* border-radius: 50px; */
    margin-top:50px;
    /* padding: 10px 30px 10px 30px; */
    border-bottom: solid 2px black;
    font-weight: bold;
    font-size:18px;
}

    .contact-list-wrapper{
        max-width:600px;
        margin:auto;
    }
    .contact-list-wrapper .contact{
        padding:20px;
        border: solid 2px black;
        border-radius: 90px;
        position:relative;
        margin: 20px auto 0px auto;
    }
    .contact-list-wrapper .contact .image{
        max-width: 200px;
        border-radius: 50%;
    }
    .contact-list-wrapper .contact .info{
        display:inline-block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
    .contact-list-wrapper .contact .info .name{
        width:100%;
        font-weight: bold;
        text-transform: capitalize;
    }
    .contact-list-wrapper .contact .info .location,
    .contact-list-wrapper .contact .info .email,
    .contact-list-wrapper .contact .info .phone,
    .contact-list-wrapper .contact .info .cell{
        display: inline-block;
        font-size:24px;
    }
    .contact-list-wrapper .contact .info .email{
        color:rgb(36, 36, 182);
    }
    .contact-list-wrapper .contact .info .phone{
        color:green;
    }
    .contact-list-wrapper .contact .info .location{
        color:rgba(205, 50, 52, 1);
    }
    .contact-list-wrapper .contact .info .cell{
        color: black;
    }

    .icon:not(:first-of-type)
    {
        padding-left:10px;
    }

    .search-bar{
        width:100%;
        text-align:center;
        padding-top:50px;
        position: relative;
        font-size:18px !important;
    }
    input{
        outline-width: 0;
    }
    input:focus{
        border-bottom: 2px solid black;
    }

    .search-input{
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom:solid 2px transparent;
        width:80%;
    }

    .paging{
        text-align:center;
        padding-bottom:50px;
    }

    .filter-wrapper{
        position:absolute;
        right:0px;
        background-color:white;
        z-index: 2;
        width:150px;
        text-align: left;
        padding-top:10px;
    }

    .filter-wrapper .filter-item{
        border:solid 2px black;
        line-height:1.7;
    }

    .filter-item:not(:first-of-type)
    {
        border-top:none;
    }
    
    .no-results{
        font-size:16px;
        font-weight: bold;
        padding-top:20px;
        text-align: center;
    }

.paging .current-page{
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .contact-list-wrapper{
        max-width: 800px;
        margin:auto;
    }
    
    .contact-list-wrapper .contact .info .name{
        font-size:45px;
    }
    
        .contact-list-wrapper .contact .info .location,
    .contact-list-wrapper .contact .info .email,
    .contact-list-wrapper .contact .info .phone,
    .contact-list-wrapper .contact .info .cell{
        font-size:40px;
    }
    
    .button-back,
    .button-paging{
        display: inline-block;
        text-align: center;
        margin-top:50px;
        border-bottom: solid 4px black;
        font-size:32px;
    }
    .paging .current-page{
        font-size:24px;
    }
    
    .search-bar{
        font-size:40px !important;
    }
    
    .filter-wrapper{
        width:250px;
    }
    
    .search-input{
        border-bottom:solid 4px transparent;
    }
    
    .contact-list-wrapper .contact .image{
        max-width: 128px;
    }

}