    .contact-wrapper{
        max-width:600px;
        margin:auto;
        text-align:center;
    }
    .contact-wrapper .contact{
        padding:20px 20px 50px 20px;
        border: solid 2px black;
        border-radius: 90px;
        position:relative;
        margin: 94px auto 0px auto;
    }
    .contact-wrapper .contact .image{
        width: 200px;
        border-radius: 50%;
    }
    .contact-wrapper .contact .info{
        text-align:left;
    } 
    .contact-wrapper .contact .info .name{
        width:100%;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
        margin-bottom:30px;
    }
    .contact-wrapper .contact .info .icon{
        display: inline-block;
        font-size:24px;
        width:100%;
        margin-left:40px;
    }
    .contact-wrapper .contact .info .email i{
        color:rgb(36, 36, 182);
    }
    .contact-wrapper .contact .info .phone i{
        color:green;
    }
    .contact-wrapper .contact .info .location i{
        color:rgba(205, 50, 52, 1);
        position:absolute;
    }
    .contact-wrapper .contact .info .cell i{
        color: black;
    }

    .contact-wrapper .contact .info i{
        padding: 0px 20px 20px 0px;
    }

    .contact-wrapper .contact .info .location > div{
        display: inline-block;
        color:black;
        padding-left:50px;
    }

    .contact-wrapper .contact .info .location {
        margin-bottom:10px;
    }

    .contact-wrapper a{
        color:black;
        text-decoration: none;
    }


@media screen and (max-width: 992px) {
    .contact-wrapper{
        max-width:800px;
    }
    
    .contact-wrapper .contact .image{
        width:300px;
    }
    
    .contact-wrappe .contact .info .name{
        font-size: 45px;
    }
    
    .contact-wrapper .contact .info .location,
    .contact-wrapper .contact .info .email,
    .contact-wrapper .contact .info .phone,
    .contact-wrapper .contact .info .cell{
        font-size:40px;
    }
    
    .button-back,
    .button-paging{
        display: inline-block;
        text-align: center;
        margin-top:50px;
        border-bottom: solid 4px black;
        font-size:32px;
    }
}